@import 'tailwind';

.application {
  position: relative;
  background: red;
  width: 1920px;
  height: 1080px;
}

.game-window {
  position: absolute;
  width: calc(100% / 4 * 3);
  z-index: 10;
  top: 50px;
  left: 50px;
}

.camera-window {
  position: absolute;
  width: calc(100% / 3 * 1);
  z-index: 10;
  bottom: 50px;
  right: 50px;
}

@import "pod-styles";
