<div class="game-window">
  <ContentWindow @ratio="16,9" class="bg-teal-dark border-grey-light border" />
</div>

<div class="channel-info">
  <h2 class="text-5xl text-teal mb-2">bit.ly/extra-olw-18</h2>
  <h2 class="text-5xl text-blue-light">@OneLastWord</h2>
</div>

<div class="extra-life-milestones flex">
  <GoalThermometer @nextGoal="200" @value="185" />
</div>
